[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
streamlit = "*"
pathlib = "*"
datetime = "*"
yfinance = "==0.1.64"

[dev-packages]

[requires]
python_version = "3.8"
