[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.5.3"
streamlit = "*"
datetime = "*"
yfinance = "==0.2.14"
mplfinance = "===0.12.7a5"
matplotlib = "*"
plotly = "*"
pytz = "==2023.3"
watchdog = "*"
streamlit-extras = "*"

[dev-packages]

[requires]
python_version = "3.8"
