[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
watchdog = "*"
pandas = "*"
datetime = "*"
yfinance = "*"
mplfinance = "*"
matplotlib = "*"
plotly = "*"
pytz = "*"
streamlit-extras = "*"
urllib3 = "*"
tornado = "*"
pyarrow = "*"
requests = "*"
pillow = "*"
certifi = "*"
fonttools = "*"
gitpython = "*"
idna = "*"
jinja2 = "*"
streamlit = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.13"
